body{
	font-family: Open Sans,sans-serif;

}
h1{
	color: #26B1F0;
}
.button {
  display: inline-block;
  
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #2656F0;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
  font-size: 16px;
}

.button:hover {background-color: #0313C1}

.button:active {
  background-color: #0313C1;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}